<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.android.diary">

    <application
        android:name=".SSFontsBase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Animation" />
        <activity
            android:name=".WriteDiary"
            android:label="@string/title_activity_write_diary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DiarySetting" />
        <activity android:name=".MonthListView" />
        <activity android:name=".MonthCalendar" />
        <activity android:name=".DiaryPartMain" />
        <activity android:name=".SSFontsBase" />
        <activity android:name=".Fonts" />
        <activity android:name=".DiaryShortLine" />
        <activity android:name=".Calendar"></activity>
    </application>

</manifest>